<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Personas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="agregar">Agregar</a></li>
                <li><a href="eliminar">Eliminar</a></li>
                <li><a href="seleccionar_notas">Buscar Notas</a></li>
            </ul>
        </div>

        <h1>Lista de Personas</h1>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha y Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}
                <tr>
                    <td>{{ person.fname }}</td>
                    <td>{{ person.lname }}</td>
                    <td>{{ person.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
